<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>Wellcome {{user.username}} </h3>
            <h2>Book Talk</h2>
            <a href="/catalog" class="btn">See All</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <img src="image/book-1.png" alt=""></a>
                <img src="image/book-2.png" alt=""></a>
                <img src="image/book-3.png" alt=""></a>
                <img src="image/book-4.png" alt=""></a>
                <img src="image/book-5.png" alt=""></a>
                <img src="image/book-6.png" alt=""></a>
            </div>
            <img src="image/stand.png" class="stand" alt="">
        </div>

    </div>

</section>