<section id="delete-page">
    <div class="deleteSection">
        

        <form method="post" class="deleteForm">
            <h1>ARE U SURE U WANT TO DELETE {{movie.title}} ?</h1>
            <ul class="noBullet"> 
                <li id="center-btn">
                    <button id="edit-btn">DELETE This Movie</button>
                    <a href="/details/{{movie._id}}">CANCEL</a>
                </li>
            </ul>
        </form>

    </div>
</section>