<div class="flip flip-vertical">
    <div class="front">
        <img src="/static/img/arcs.jpeg" alt="Les Arcs">
    </div>
    <div class="back">
        <h1>Jungle Cuise</h1>
        <h2>Genre: Adventure</h2>
        <p>The third oldest and the highest of the Les Arcs stations, Les Arcs 2000 opened at the beginning of the 1980
            and at that time consisted of just one building - the Club Med. The resort has now grown but, despite now
            being the second largest station (after Les Arcs 1800), it is still compact. Les Arcs 2000 today consists of
            a few large appartment complexes, timbered buildings in the traditional style of the French Alps and, for
            added convenience, many of the appartment blocks have their own shops and other amenities in the basement.
        </p>
        <a href="/" class="details">Details</a>
    </div>
</div>