<section id="last-added">
    {{#each stones}}
    <div>
        <img src="/static/images/amethyst.jpg">
        <p>Name: Amethyst</p>
        <p>Category: Silicate mineral</p>
        <a class="details-btn" href="#">Details</a>
    </div>
    {{else}}
    <div>
        <p class="no-post">There are no gems and minerals!</p>
    </div>
    {{/each}}
</section>